%icon-bank-base{
	width: .5rem;
	height:  .5rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: .1rem;
}

@mixin var-bg-img($url:'default') {
	background: url(~@assets/credit/blank_logo/#{$url}.png) no-repeat center;
	background-size: 100%;
}
.icon-bank-default{
	@extend %icon-bank-base;
	@include var-bg-img()
}

@each $className in ABC, BOB, BOC, BOCOM, BOG, CCB, CEB, YNET, CMB, CMBC, HXB, ICBC, PAB, SPDB {
	.icon-bank-#{ $className } {
		@extend %icon-bank-base;
		@include var-bg-img($className)
	}
}

