/**
 * @desc 外币牌价查询
 * @author wangmy
 * @date 2023-05-09
 */
.wrap {
    padding-top: .2rem;

    .header_right {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        width: 1rem;
        text-align: center;
        line-height: .6rem;
        background: #000;
        color: #fff;
    }

    .page_main {
        .box {
            background: #fff;
            padding: .2rem .3rem;
            font-size: .28rem;
            color: #999;
            line-height: 1.6;

            .title {
                font-size: .32rem;
                color: #333;
            }
        }
    }
}