*{
    margin:0;
    padding:0;
    -webkit-touch-callout:none;
    list-style:none;
}

html{touch-action: manipulation;background:#fff;min-width:320px;overflow-x:hidden;}
    body{overflow-x:hidden;}
    html,body{height:100%;}