.ynet-viewbox{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	.ynet-viewbox_document{
		position: relative;
		width: 100%;
		height: 100%;
		left: 0; top: 0;
		display: flex;
		flex-direction: column;
	}
	.ynet-viewbox_main{
		flex: 1;
		position: relative;
		left:0; top:0;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
}